.card {
    max-width: 600px;
    width: calc(50% - 50px);
    box-sizing: border-box;
}

.card__title {
    text-align: left;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 32px 0;
}

.card__list-item {
    font-family: 'Noto Serif', times new roman, serif;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
}

.card__list-item-name {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
}

.card__list-item-name::after {
    content: "";
    min-width: 50px;
    border-bottom: 1px solid #d9e7ff;
    margin-left: 8px;
    margin-right: 8px;
    flex-grow: 1;
}

.card__list {
    list-style: none;
    margin: 0;
    padding: 0;
}