.form {
    max-width: 385px;
    margin: 0 auto;
}

.form__fieldset {
    padding: 0;
    align-content: center;
    border: none;
}

.form__input {
    border-radius: 4px;
    margin-bottom: 32px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    max-width: 385px;
    width: 100%;
    padding: 0 0 0 13px;
    height: 60px;
}

.form__input[type="checkbox"] {
    border-radius: 2px;
    min-width: 8px;
    min-height: 8px;
    display: block;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 17px;
    margin: -19px 12px 0 auto;
}

.form__label {
    margin-bottom: 8px;
    display: block;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 223px;
}

.form__button {
    border-radius: 4px;
    transition: opacity 0.25s ease-in-out;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    width: 100%;
    background-color: #2F80ED;
    height: 60px;
    padding: 0;
    max-width: 385px;
    color: #fff;
}

.form__button:hover {
    opacity: 70%;
}

.form__fieldset-button-area {
    border: none;
    padding: 0;
    margin: 0 0 32px 0;
}

.form__fieldset-checkbox {
    padding: 0;
    margin: 0;
    max-width: 385px;
    width: 100%;
    border: none;
    display: flex;
}

.form__label-checkbox {
    margin: 0 auto 0 0;
}