.menu {
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-size: 100%;
    min-height: 720px;
    position: relative;
    padding: 100px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: #fff;
}

.menu__title {
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 780px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.menu__subtitle {
    margin: 24px auto 100px auto;
    max-width: 780px;
    text-align: center;
    font-family: 'Noto Serif', times new roman, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.menu__cards {
    display: flex;
    margin: 0 100px 0 100px;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}