.recipes {
    background-color: #fff;
    background-image: url(../images/background_recipes.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0 215px 80px;
    display: flex;
    flex-direction: column;
}

.recipes__title {
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    margin-bottom: 24px;
}

.recipes__subtitle {
    max-width: 438px;
    margin-bottom: 80px;
    font-family: 'Noto Serif', times new roman, serif;
    font-size: 20px;
    line-height: 30px;
    position: static;
}

.recipes__videos {
    display: flex;
    margin: 0 auto 0 auto;
}

.recipes__iframe {
    margin: 0 40px 24px 0;
    border: 0px;
    width: 480px;
    height: 273px;
}

.iframe-caption {
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    list-style-type: none;
}

.video-caption-area {
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.video-caption {
    margin: 0;
}